@import "../../variables/variables";

.container {
  width: 100vw;
  height: 100vh;
  @include flex-center();
}

.card {
  @include card(650px, auto);
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
  h1 {
    text-align: center;
    font-family: $title-font;
    letter-spacing: 4px;
    font-size: 2.4rem;
  }

  button {
    @include button(100%);
    margin: 10px 0;
  }
}

.google {
  @include flex-center();
  opacity: 1;
  color: black;
  p {
    margin-left: 10px;
  }
}
