@import "../../variables/variables";

.card {
  @include card(650px, auto);
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
  h1 {
    text-align: center;
    font-family: $title-font;
    letter-spacing: 4px;
    font-size: 2.4rem;
  }

  button {
    @include button(100%);
    margin: 10px 0;

    &:disabled {
      cursor: not-allowed;
      letter-spacing: 0;
      color: black;
      &:hover {
        background-color: transparent;
        transform: scale(1);
        color: black;
        border: 1px solid black;
        letter-spacing: 0;
        box-shadow: none;
        font-weight: 400;
      }
    }
  }
}

.google {
  @include flex-center();
  @include button(100%);
  opacity: 1;
  color: black;
  p {
    margin-left: 10px;
  }
  position: relative;
  z-index: 999;
}

.reset-pwd__link {
  margin: 20px 0;
}

// PwdReset
.reset-pwd__msg {
  color: rgba(0, 128, 0, 0.694);
}

.reset-pwd__err {
  color: rgba(255, 0, 0, 0.605);
}

.page {
  @include flex-center();
  height: 100vh !important;
}
