@import "../../variables/variables";

.container {
  h2 {
    font-family: $title-font;
    text-align: center;
    letter-spacing: 2px;
  }
}

.maps {
  display: flex;
  flex-wrap: wrap;
  @include flex-center();
  @media (max-width: 600px) {
    overflow: scroll;
  }
}
