@import "../../variables/variables";

.container {
  @include card(auto, 600px);
  position: absolute;
  top: 10vh;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 900px;
  min-width: auto;
  min-height: 700px;
  height: auto;
  background-color: white;
  z-index: 100;
  animation: showSetting 500ms ease-in-out forwards;
  opacity: 0;
  display: flex;
  nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    border-right: $border;
    height: 60%;
    margin: 100px 0;
    @media (max-width: 600px) {
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0;
      border-bottom: $border;
    }
  }
  section {
    flex: 3;
    padding: 20px;
  }
  @media (max-width: 600px) {
    top: 23px;
    flex-direction: column;
    height: auto;
  }
}

.close-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

@keyframes showSetting {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
