@import "../../variables/variables";

.container {
  width: 100%;
}

.location {
  cursor: pointer;
  animation: dropdown 500ms ease-in-out 1s forwards;
  // transition: all ease 500ms;
  opacity: 0;
  position: absolute;
  z-index: 1;
}

@keyframes dropdown {
  0% {
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hover:hover {
  transform: scale(1.2);
  z-index: 2;
}

.card {
  display: none;
}

.location:hover .card {
  font-weight: 600;
  display: block;
  @include card(auto, 30px);
  @include flex-center();
  padding: 30px;
  position: absolute;
  top: -80px;
  left: -25px;
  background-color: white;
}
