@import "../../variables/variables";

.btns {
  @include flex-center();
  padding-bottom: 15px;
}

.list {
  height: 750px;
  overflow: scroll;
  margin: 0 60px;
  padding: 15px;
  @media (max-width: 1400px) {
    overflow: visible;
    justify-content: center;
    column-gap: 30px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 440px);
    @media (max-width: 500px) {
      grid-template-columns: 100%;
      column-gap: 0;
      margin: 0;
    }
  }
}

.loader-container {
  @include card("100%", "30%");
  margin-top: 20px;
  margin-bottom: 30px;
  overflow: hidden;
}
