@import "../../variables/variables";

.container {
  position: fixed;
  top: 0;
  height: 100vh;
  left: 0;
  width: 400px;
  background-color: white;
  z-index: 200;
  transform: translateX(-400px);
  transition: all ease 500ms;
  // box-shadow: $box-shadow;
}

.show-container {
  transform: translateX(0);
}
