@import "../../variables/variables";

.space-image {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.173) 70%, transparent),
    url("https://source.unsplash.com/random/1900x400/?architecture,sea");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  box-shadow: $box-shadow;
  position: relative;
  + section {
    @include flex-center(column);
    margin-top: 40px;
  }
}

.user_info {
  position: absolute;
  left: 40px;
  bottom: 20px;
  width: auto;
  height: auto;
  display: grid;
  color: white;
  font-weight: 700;
  display: grid;
  column-gap: 10px;
  grid-template-rows: 1fr fit-content fit-content;
  grid-template-columns: 1fr fit-content;
  grid-template-areas: "image name" "image follow" "image des";
  h2 {
    margin: 10px 10px;
    font-family: $title-font;
  }
}

.user_info--avatar {
  grid-area: image;
  width: 100px;
  height: 100px;
  align-self: center;
}

.user_info--follow {
  grid-area: follow;
  p {
    margin: 10px 10px;
    display: inline-block;
  }
}

.user_info--bio {
  grid-area: des;
  margin: 10px 10px;
}

.buttons {
  @include flex-center();
}
.searchIcon {
  margin-top: 20px;
  margin-right: 10px;
}

.filter {
  display: flex;
  width: 20%;
  margin: 40px 0;
  align-items: center;
}

.collection {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}
