$title-font: "Dancing Script";
$text-font: "Quicksand", sans-serif;
$nav-white: rgb(255, 255, 255);
$box-shadow: 0px 0px 10px 1px
  rgba(
    $color: black,
    $alpha: 0.2,
  );
$border: 1px solid rgba(204, 204, 204, 0.708);
$error: #ff8080;

@mixin flex-center($dir: row) {
  flex-direction: $dir;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin card($width, $height) {
  width: $width;
  height: $height;
  border-radius: 30px;
  box-shadow: $box-shadow;
  border: $border;
}

@mixin button($width: auto) {
  @extend .hide-scrollbar;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 20px;
  padding: 15px;
  cursor: pointer;
  transition: all 700ms ease;
  width: $width;
  height: 50px;
  text-align: center;

  &:hover {
    letter-spacing: 2px;
    border: 1px solid $nav-white;
    background-color: black;
    color: $nav-white;
    box-shadow: $box-shadow;
    font-weight: 600;
    transform: scale(1.05);
  }
}

@mixin card-button($width: auto) {
  cursor: pointer;
  padding: 2px;
  color: black;
  border: 0;
  border-bottom: 1px black solid;
  background-color: transparent;
  margin: 0 10px;
  font-family: inherit;
  transition: all ease 400ms;
  &:hover {
    transform: scale(1.02);
    font-weight: 700;
  }
}

@mixin black-button($width: auto) {
  background-color: transparent;
  border: 1px solid $nav-white;
  background-color: black;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: all 700ms ease;
  width: $width;
  height: auto;
  text-align: center;
  color: $nav-white;
  font-family: inherit;
  font-size: 0.8rem;
  &:hover {
    letter-spacing: 1px;
    border: 1px solid $nav-white;
    box-shadow: $box-shadow;
    font-weight: 600;
    transform: scale(1.01);
  }
}

@mixin input-style($width: auto, $height: auto) {
  margin: 10px 0;
  height: $height;
  border-radius: 10px;
  border: $border;
  padding: 6px;
  font-family: inherit;
  width: $width;
  text-decoration: none;
}

@mixin icon() {
  cursor: pointer;
  transition: all 500ms ease;
  &:hover {
    transform: scale(1.1);
  }
}

@mixin loading {
  text-align: center;
  font-weight: 700;
  font-size: small;
  font-style: italic;
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}
