@import "../../variables/variables";

.header {
  padding: 10px 25px;
  display: flex;
  width: 100%;
  height: auto;
  background-color: $nav-white;
  box-shadow: $box-shadow;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  h1 {
    margin: 0;
    font: {
      family: $title-font;
    }
    cursor: pointer;
    transition: all 500ms ease;
    &:hover {
      transform: scale(1.1);
    }
  }
  nav {
    @include flex-center();
  }
}

.front {
  display: flex;
  align-items: center;
}

.show-side-nav {
  display: none;
}

.login {
  @include button();
}

.avatar {
  transition: all 500ms ease;
  &:hover {
    transform: scale(1.05);
  }
}

@media (max-width: 700px) {
  .header nav,
  .header .login,
  .header .user {
    display: none;
  }

  .show-side-nav {
    display: inline-block;
  }
}
