@import "../../variables/variables";

.side-nav {
  @extend .hide-scrollbar;
  display: grid;
  grid-template-rows: 120px 70px 70px 70px 70px 70px;

  row-gap: 50px;
  width: 200px;
  height: 100%;
  background-color: $nav-white;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  box-shadow: $box-shadow;
  transition: all 500ms ease;
  transform: translateX(100%);
  overflow: scroll;
  .login-btn {
    place-self: center;
    @include button();
  }
  button {
    margin: 0 10px;
    @include button();
  }
  .avatar {
    place-self: center;
    margin: auto;
  }
  h4 {
    margin: 4px;
    text-align: center;
    word-break: break-all;
    text-align: center;
  }
}

.top {
  place-self: center;
  margin-top: 20px;
}

.open {
  transform: translateX(0);
}
