@import "../../variables/variables";

.container {
  @include card(200px, auto);
  @include flex-center(column);
  border-radius: 10px;
  position: absolute;
  background-color: $nav-white;
  right: 15px;
  transition: all 500ms ease;

  h4 {
    padding: 0 10px;
    word-break: break-all;
    text-align: center;
  }

  button {
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    border: 0px;
    border-top: $border;
    padding: 10px;
    font-family: inherit;
    letter-spacing: 1px;
    transition: all 500ms ease;
    &:hover {
      transform: scale(1.05);
    }
  }
}
