@import "../../variables/variables";

.input {
  display: flex;
  flex-direction: column;

  label {
    font-weight: 600;
    font-size: 1rem;
  }
  input {
    @include input-style(auto, 2.1rem);
  }
  textarea {
    @include input-style(auto, 150px);
  }
}

.input-error {
  background-color: $error;
  animation: jiggle 200ms ease-in-out forwards;
}

.error {
  margin: 0;
  color: $error;
}

@keyframes jiggle {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(7px);
  }
  70% {
    transform: translateX(-7px);
  }
  100% {
    transform: translateX(0);
  }
}
