@import "../../variables/variables";

.wrapper {
  @extend .hide-scrollbar;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  opacity: 0;
  display: flex;
  flex-direction: column;
  animation: show 500ms ease-out forwards;
  position: fixed;
  background-color: white;
  border-radius: 20px;
  overflow: scroll;
  max-width: 1000px !important;
  width: auto !important;
  margin: 0 auto !important;
  height: 100vh !important;
  section {
    padding: 0 20px;
    p {
      word-break: break-all;
    }
    border-bottom: $border;
  }
}

.user {
  @extend .hide-scrollbar;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.close {
  @include icon();
  margin: 10px;
}

.info {
  @extend .hide-scrollbar;
  overflow: scroll;
  width: 100%;
  height: 100%;
}

.info__name {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  margin-left: 10px;
}

.info__imgs {
  width: 100%;
  height: 600px;
  position: relative;
}

.info__img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  // border-radius: 10px;
  transition: all ease 500ms;
  // opacity: 0;
}

.info__img--hide {
  opacity: 0;
}

.info__img--show {
  opacity: 1;
}

.icon {
  position: absolute;
  z-index: 101;
  color: white;
  cursor: pointer;
  opacity: 0.7;
  transition: all ease 700ms;
  &:hover {
    opacity: 1;
  }
}

.info__img--back {
  @extend .icon;
  top: 300px;
  left: 10px;
}

.info__img--forword {
  @extend .icon;
  top: 300px;
  right: 10px;
}

.info__more {
  display: flex;
  font-weight: lighter;
  font-size: small;
  align-items: center;
  justify-content: space-between;
  > p {
    font-style: italic;
  }
}

.info__more--likes {
  @include flex-center();
  cursor: pointer;
  gap: 6px;
}

.info__more--likesIcon {
  color: rgba(255, 0, 0, 0.605);
}

@keyframes show {
  0% {
    transform: translateY(500px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
